# Docker Compose için Host Port Ayarı
# Bu dosyadaki HOST_PORT değişkeni, uygulamanın dışarıya hangi porttan açılacağını belirler.
# Host makinede (kendi bilgisayarınızda) uygulamanın çalışacağı port:
HOST_PORT=8080
